.bd-header {
    background-color: var(--pst-color-background) !important;
    background-color: color-mix(in srgb, var(--pst-color-on-background) 60%, transparent) !important;
    backdrop-filter: blur(20px) saturate(150%);
    -webkit-backdrop-filter: blur(20px) saturate(150%);
    background-clip: padding-box;
    box-shadow: none;
    border-bottom: 1px solid var(--pst-color-border);
}